<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.javaee.blog.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="xyz.javaee.blog.entity.Comment">
    <!--@mbg.generated-->
    <!--@Table Meow.`comment`-->
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="type" jdbcType="BOOLEAN" property="type" />
    <result column="creat_time" jdbcType="DATE" property="creatTime" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="article_id" jdbcType="CHAR" property="articleId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    comment_id, user_id, content, `type`, creat_time, p_id, `level`, article_id
  </sql>
</mapper>